body {  font-family: Arial, Verdana; /* Семейство шрифтов */
  font-size: 11pt; /* Размер основного шрифта в пунктах  */
  background-color:rgb(255, 255, 255); /* Цвет фона веб-страницы */
  color: rgb(0, 0, 0) /* Цвет основного текста */ 
}